!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html'}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge, chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %link{:rel => "shortcut icon", :href => "images/favicon.png", :type => "image/x-icon"}
    %link{:rel => "image_src", :href => "images/apple-touch-icon-iphone4.png"}
    %link{:rel => "apple-touch-icon", :href => "images/apple-touch-icon-iphone.png"}
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "images/apple-touch-icon-ipad.png"}
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "images/apple-touch-icon-iphone4.png"}

    %title= page_title

    = stylesheet_link_tag("style.css")
    = yield_content :head

  %body{:class => page_classes}
    = partial "layouts/partials/header"
    #page.container
      %h1= title
      %section{:role => "main"}
        = yield
      = partial "layouts/partials/aside"
    = partial "layouts/partials/footer"
