---
title: Contact Us
---

-form_tag '/destroy', :class => 'destroy-form', :method => 'delete' do
  -field_set_tag do
    %ul
      %li
        = label_tag :username, :class => 'first'
        = text_field_tag :username, :value => params[:username]
      %li
        = label_tag :password, :class => 'first'
        = password_field_tag :password, :value => params[:password]
      %li
        = label_tag :strategy
        = select_tag :strategy, :options => ['delete', 'destroy'],
            :selected => 'delete'
  -field_set_tag(:class => 'buttons') do 
    = submit_tag "Remove"
